body { 
    padding: 0;
    width: 600px;
    display: block;
    margin: auto;
    font-family: "Smythe" , sans-serif;
} 


/* header */
.header-container {
    background-image: url('/images/burger.png');
    background-size: cover;
    height: 167px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 46px;
}


.header-title {
    font-weight: 100;
    margin-bottom: 0;
}

.header-subtitle {
    margin-top: 8px;
    padding-top: 0;
    font-weight: 100;
    word-spacing: 2px;
} 

/* main */
.main-container {
 margin-top: 35px;
}

.list-item {
    display: flex;
    align-items: center;
    list-style: none;
    width: 508px;
    height: 140px;
    border-bottom: 1px solid #DEDEDE;
    margin: 35px 0;
    padding-bottom: 20px;
}

.item-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-left: 34px;
}

.item-info h2, p {
    margin: 0;
}

.item-info h2 {
 font-size: 1.75rem;
 font-weight: 100;
}

 .indgredients {
    font-size: 1rem;
    color: #8B8B8B;
}

 .price {
    font-size: 1.25rem;
    font-weight: 100;
    margin-top: 4px;
}

#info-button {
    margin-left: auto;
    margin-bottom: 35px;
}

#info-button button{
    border: 1px solid #DEDEDE;
    border-radius: 50%;
    background-color: white;
    width: 50px;
    height: 50px;
    font-family: inter;
    font-size: 2rem;
    font-weight: 100;
    padding-bottom: 6px;

}

.menu-emoji {
    font-size: 4.875rem;
    margin: 0;
}

/* cart section */
.cart-container {
    height: 319px;
    width: 508px;
    margin: auto;
    display: none;
}

.cart-container p {
    font-size: 1.25rem;
}

.cart-title {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 100;
    margin-bottom: 50px;
}

#cart-price {
    font-size: 1.75rem;
}

.cart-btn {
    background-color: #16DB99;
    color: white;
    width: 100%;
    height: 60px;
    border: none; 
    font-size: 1.25rem;
    font-weight: 600;
    margin-block: 40px;
}

.total-price-wrapper {
   display: flex;
   align-items: center;
   justify-content: space-between; 
   border-top: 2px solid #393333;
   padding-top: 12px;
}

.cart {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 8px;
}

.remove-button {
    font-size: 0.75rem;
    border: none;
    background-color: white;
    color: #8B8B8B;
    margin-right: auto;
    padding-left: 10px;
    padding-top: 4px;
}